PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/its_resto?schema=public"
JWT_SECRET="isi_dengan_string_bebas_untuk_keamanan_token"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alamatemail
SMTP_PASS=kode unik 16 digit